<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="../css/bootstrap-responsive.min.css" rel="stylesheet">

<link rel="stylesheet" href="../css/style.css">

<script src="../js/angular.min.js"></script>
<script src="../js/script.js"></script>

<div class="step">
  <div class="steptitle">
    <a href="#" ng-click="mainCtrl.hideTable(false); mainCtrl.log();"><i class="ionicons ion-android-close floatright"></i></a>
    <h3 class="floatleft">Step 2 - Enter Dimensions</h3>
    <div class="clr"></div>
  </div>

  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <div class="step_marker">
          <ul>
            <li class="step-done"><input type="radio" name="step" ng-model="step">
                <span ng-click="modal.current_step = modal.step['step1']" >1</span>
            </li>
            <li><input type="radio" name="step" ng-model="step"><span>2</span></li>
            <li><input type="radio" name="step" ng-model="step"><span>3</span></li>
            <li><input type="radio" name="step" ng-model="step"><span>4</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container alignright row-btn">
    <div class="row-fluid">
      <div class="span12">
        <button class="btn-gen btn-next" href="#step-3" ng-click="modal.current_step = modal.step['step3']">Next</button>
      </div>
    </div>
  </div>

  <div class="container aligncenter valignmiddle form-step2">
    <div class="row-fluid">
      <div class="span3">&nbsp;</div>
      <div class="span6">
        <img src="images/furnitures/table.jpg" alt="" width="100%">
        <div class="row-fluid">
          <div class="span12">
            <label for="length"><input type="number" name="length" placeholder="Enter Length in inches"></label>
          </div>
        </div>
      </div>
      <div class="span3">
        <label for="height"><input type="text" name="height" placeholder="Enter Height in inches"></label>
      </div>
    </div>
  </div>

</div>
<!-- step1 -->
